<section id="lideranca" class="lideranca">
  <div class="container">

    <div class="lideranca-content">

      <div class="lideranca-image reveal reveal-right" appReveal>
        <img src="assets/images/ap.png" alt="Ap. Marcio Ribeiro">
      </div>

      <div class="lideranca-text">
        <span class="title reveal reveal-up" appReveal>Ap. Marcio Ribeiro</span>

        <p class="reveal reveal-up" appReveal>
          Bem-vindo à Igreja Renascer. É muito bom ter você aqui conosco!
        </p>

        <p class="reveal reveal-up" appReveal>
          Aqui na Renascer nós prezamos por um relacionamento com Deus Pai, Filho e Espírito. Assim, nossa prioridade é passar tempo aprendendo a amar melhor a Deus e ao nosso próximo."
        </p>

        <p class="reveal reveal-up" appReveal>
          Entendemos que isso é feito através dos momentos de louvor, adoração, estudo da Palavra e também aprendendo como desenvolver nossos dons. Desejamos que a Igreja Renascer seja um lugar onde todos que entrarem sejam instigados a um andar de intimidade com Deus!
        </p>
      </div>
    </div>

  </div>
</section>