:root {
  --primary: #f97316;     /* laranja principal */
  --primary-dark: #ea580c;
  --secondary: #1f2937;   /* cinza escuro */
  --light: #f9fafb;
  --accent: #fff7ed; 
  --gray: #ebedf1;     /* laranja bem suave */
}