/* Mobile (padrão) */
.container {
  padding: 16px;
}

/* (celulares grandes) >= 576px */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* (tablets) >= 768px */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    background-color: aqua;
  }
}

/* (notebooks) >= 992px */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* (desktops) >= 1200px */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* (telas grandes) >= 1400px */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}