<footer class="footer">
  <div class="container">
    <div class="inner">
      <div class="footer-col">
        <div class="logo">
          <img src="assets/images/logo_branca.png" alt="Logo">
          <span>Igreja <strong>Renascer</strong></span>
        </div>

        <div class="descricao">
          <span>
            Um lugar para crescer, conectar e viver o propósito de Deus.
          </span>
        </div>
      </div>

      <div class="footer-col">
        <div class="title">
          <span>Igrejas</span>
        </div>

        @for (cidade of cidades; track $index) {
          <div class="col-inner">
            <span>{{ cidade.nome }}</span>
            <span class="endereco">{{ cidade.endereco }}</span>
          </div>
        }
      </div>

      <div class="footer-col">
        <div class="title">
          <span>Contato</span>
        </div>

        <div class="col-inner">
          <span>Telefone: (44) 3225-6271</span>
        </div>

        <div class="social-media">
          @for (media of socialMedia; track $index) {
            <a (click)="openLink(media.link)">
              <i class="{{media.icon}}"></i>
            </a>
          }
        </div>
      </div>

      
    </div>
    
    <div class="footer-bottom">
      <p>© {{ currentYear }} Igreja Renascer • Todos os direitos reservados</p>
    </div>
  </div>
</footer>