.footer {
  background: var(--secondary);
  color: #fff;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.footer-col  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-col .title {
  text-transform: uppercase;
}

.footer-col .col-inner {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
}

.descricao {
  margin-top: 12px;
  color: #9ca3af;
}

.endereco {
  font-size: 14px;
  color: #9ca3af;
}

.social-media {
  display: flex;
  gap: 12px;
}

.social-media a {
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.social-media a:hover {
  transform: translateY(-2px);
}

.footer-bottom {
  border-top: 1px solid #1f2937;
  padding: 16px 0;
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
}

@media (max-width: 768px) {

  .inner {
    flex-direction: column;
    gap: 32px;
  }

  .footer-col {
    align-items: center;
    text-align: center;
  }

  .logo {
    justify-content: center;
  }

  .col-inner {
    margin-bottom: 10px;
  }

  .social-media {
    justify-content: center;
  }

  .descricao {
    max-width: 300px;
  }
}