section {
  // scroll-margin-top: var(--navbar);
  align-items: center;
}

#hero {
  min-height: 100vh;
}

#sobre {
  min-height: 100vh;
}

#lideranca {
  min-height: 100vh;
}

#onde-estamos {
  min-height: 100vh;
}

@media (max-width: 768px) {
  section {
    min-height: auto;
  }
}