<section id="onde-estamos" class="onde-estamos">
  <div class="container">
    <div class="title">
      <h2 class="reveal reveal-up" appReveal>Onde estamos</h2>
    </div>
    <div class="content">
      <div class="cidades">
        @for (cidade of cidades; track $index) {
          <div 
            class="cidade-item"
            [class.active]="cidadeSelecionada.nome === cidade.nome"
            (click)="selecionarCidade(cidade)"
          >
            <h3>{{ cidade.nome }}</h3>
          </div>
        }
      </div>

      <div class="detalhe">
        <div class="map">
          <iframe
            [src]="cidadeSelecionada.mapUrl"
            loading="lazy">
          </iframe>
        </div>

        <div class="info">
          <p>{{ cidadeSelecionada.endereco }}</p>

          <button (click)="openRoutes()">
            Ver no Google Maps
          </button>
        </div>
      </div>
    </div>
  </div>
</section>