nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: transparent;
  z-index: 1000;
  background: transparent;
}

nav.scrolled {
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.logo img {
  width: 50px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu li a {
  text-decoration: none;
  color: #666;
  transition: 0.3s;
}

.menu li a.active {
  color: #000;
  font-weight: bold;
}
