nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: transparent;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

section {
  scroll-margin-top: 80px;
}

nav a {
  color: #666;
  transition: 0.3s;
}

nav a.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}