<section id="home" class="hero" [style.backgroundImage]="'url(assets/images/hero-bg.jpg)'">
  <div class="overlay"></div>

  <div class="container">
    <div class="hero-content">
      <span class="title reveal reveal-up" appReveal>
        Bem-vindo à Igreja Renascer
      </span>
  
      <span class="sub-title reveal reveal-up" appReveal>
        Um lugar para viver propósito, fé e transformação
      </span>
  
    </div>
    
    <button class="reveal reveal-up" appReveal (click)="scrollTo('sobre')">
      Conheça mais
    </button>
  </div>
</section>